
header{
  background-image: url('https://download.hipwallpaper.com/desktop/1536/864/25/82/ltP7UD.jpg');

}
.home-intro {
 
  background-size: cover;
  height: 26.8%;
  color: white;
 
  
  }

  body, html{
  height: 100%;
  }

 
 
  div.container {
  margin: 0 auto;
  padding: 5% 0%;
  text-align: right;
 
  }


div.container a
{
  color: rgb(58, 58, 88);
  text-decoration: none;
  font: 20px 'Viga', sans-serif;
  margin: 0% 2%;
  padding: 1% 2%;
  position: relative;
  /* z-index: 0; */
  cursor: pointer;
}

img.logo {
  float: left;
  border-radius: 50%;
  height: 57%;
  width: 7%;
  margin: 1% 3% 0% 3%;
}


/* Pull right and left  */
div.pullRightLeft a:before, div.pullRightLeft a:after
{
  position: absolute;
  width: 2px;
  height: 100%;
  top: 0px;
  content: '';
  background: rgb(96, 88, 146);
  opacity: 0.3;
  transition: all 0.3s;
}

div.pullRightLeft a:before
{
  left: 0px;
} 

div.pullRightLeft a:after
{
  right: 0px;
}

div.pullRightLeft a:hover:before, div.pullRightLeft a:hover:after
{
  width: 100%;
}
 
.pullRightLeft {
  margin-left: 565px;
  text-align: right;
}








.companies {
  height: 100%;
  background-color: beige;
}

.p3 {
   float: right;
   clear: left;
   margin: 3% 33%;
   color: rgb(71, 36, 68);
   font-size: 40px;
   text-align:center;
   font-family: 'Chilanka', cursive;

}

.column {
  float: left;
  width: 7.33%;
  padding: 34px;
  margin: 0 30px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 500px) {
  .column {
    width: 100%;
  }
}

.p4 {
  float: right;
  clear: left;
  margin: 3% 41%;
  color: rgb(71, 36, 68);
  font-size: 40px;
  text-align:center;
  font-family: 'Chilanka', cursive;

}





/* This section for footer */
footer {
  height: 40%;
  background-color: #9fa0a0;
}

.p5 {
  float: left;
  margin-top: -3%;
  font-weight: 700;
  color: rgb(51, 28, 49);
  font-size: 27px;
  text-align: center;
  font-family: 'Chilanka', cursive;

}

.img1{
margin-top: 52px;
  margin-left: -275px;
width: 150%;
}

.img2 {
  width: 176%;
  height: 63%;

  margin: 0 0 0px 31px;
}


.apps {
display: inline-block;
 width: 100px;
 height: 100px;
  margin-left: 1%;
}

.p6 {
  margin-top: -10px;
  font-weight: 700;
  color: rgb(51, 28, 49);
  font-size: 27px;
  font-family: 'Chilanka', cursive;
}

.num1{
  margin-top: 3%;
  float: left;
}


i.fa.fa-envelope {
  float: left;
  font-size: 20px;
}

.num4{
  margin-top: 20px;
  margin-left: 8%;
  float: left;
}

i.fa.fa-map-o {
  padding-top: 0px;
  margin-left: 5px;
  float: left;
  font-size: 19px;
}


i.fa.fa-mobile-phone {
  padding-top: 0px;
  margin-left: 11px;
  float: left;
  font-size: 25px;

}

.contact {
  
  margin-left: -17px;
}
.fa-envelope:before {
  
  margin-left: 6px;
}

.p7 {
  margin-right: 107px;
  padding-left: 60;
  margin-top: 3%;
  font-weight: 700;
  color: rgb(51, 28, 49);
  font-size: 27px;
  text-align: center;
  font-family: 'Chilanka', cursive;
}

.fa {
   
  padding: 15px;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%; 
}

.fa:hover {
    opacity: 0.7;
}


.fa-facebook {
  float: left;
  margin-right: 16px;
  margin-top: 6%;
  padding-left: 18px;
  padding-right: 18px;
  padding-bottom: 14px;
  background: rgb(18, 71, 185);
  color: white;
}

.fa-twitter {
  float: left;
  margin-top: 6%;
  margin-right: 5%;
  background: #55ACEE;
  color: white;
}

.fa-instagram {
  float: left;
  margin-top: 6%;
  margin-right: 5%;
  background: #ff1f8f;
  color: white;
}

p.p8 {
  font-family: 'Barlow Condensed', sans-serif;
  margin-top: 42%;
  font-size: 17px;
}


/* this section for the form */
.open-button {
background-color: rgb(126, 43, 119);
color: white;
font-size: 25px;
padding: 10px 10px;
border: none;
cursor: pointer;
opacity: 0.8;
position: fixed;
bottom: 23px;
left: 28px;
width: 280px;
}


.form-popup {
display: none;
position: fixed;
bottom: 23px;
left: 28px;

}


.form-container {
max-width: 300px;
padding: 53px;
background-color: rgb(168, 168, 168);

}


.form-container input[type=text], .form-container input[type=password] {
width: 100%;
padding: 15px;
margin: 5px 0 22px 0;
border: none;
background: #f1f1f1;

}


.form-container input[type=text]:focus, .form-container input[type=password]:focus {
background-color: #ddd;
outline: none;
}


.form-container .btn {
background-color: rgb(155, 4, 185);
color: white;
padding: 16px 20px;
border: none;
cursor: pointer;
width: 100%;
font-size: 18px;
margin-bottom:10px;
opacity: 0.8;
font-family: 'Barlow Condensed', sans-serif;
}

.form-container .cancel {
background-color: rgb(255, 241, 118);
color:black;
}

.form-container .btn:hover, .open-button:hover {
opacity: 1.1;
}

.log{
text-align: center;
padding-bottom: 11px;
font-weight: 600;
font: 30px 'Viga', sans-serif;
}
i.fa.fa-envelope {
  
  margin: -17px 0 0 0;
}
i.fa.fa-mobile-phone {
  font-size: 21px;
}

i.fa{
  margin: 0 -33px 0px 0px;
}
.fa-user:before {
  padding: 0 30px 0px 0px;
}
.fa-institution:before, .fa-bank:before, .fa-university:before {
  margin: 0px 25px 0 0;
}
.fa-vcard-o:before, .fa-address-card-o:before {
  content: "\f2bc";
  margin: 0 28px 0 0;
}
.fa-envelope:before {
  margin-left: 0px;
}




























body {
    font-family: Arial;
    
  }
  img#zain {
    width: 35px;
    margin: 0px 0px -5px 1px;
}
  
  * {
    box-sizing: border-box;
  }
  
  .row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    margin: 0 -16px;
  }
  
  .col-25 {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
  }
  
  .col-50 {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
  }
  
  .col-75 {
    -ms-flex: 75%; /* IE10 */
    flex: 75%;
  }
  
  .col-25,
  .col-50,
  .col-75 {
    padding: 0 16px;
  }
  
  .container2 {
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
  }
  
  input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  label {
    margin-bottom: 10px;
    display: block;
  }
  
  .icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
  }
  
  #btn {
    background-color: rgb(96, 88, 146);
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
  }
  
  #btn:hover {
    background-color: #45a049;
  }
  
  a {
    color: #2196F3;
  }
  
  hr {
    border: 1px solid lightgrey;
  }
  
  span.price {
    float: right;
    color: grey;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (also change the direction - make the "cart" column go on top) */
  @media (max-width: 800px) {
    .row {
      flex-direction: column-reverse;
    }
    .col-25 {
      margin-bottom: 20px;
    }
  }