
  @import 'https://fonts.googleapis.com/css?family=Viga&display=swap';
  @import 'https://fonts.googleapis.com/css?family=Chilanka&display=swap';
  @import 'https://fonts.googleapis.com/css?family=Chilanka&display=swap';

.home-intro {
    background-image: url('https://download.hipwallpaper.com/desktop/1536/864/25/82/ltP7UD.jpg');
    background-size: cover;
    height: 100%;
    color: white;
    text-align: center;
  }

  body, html{
    height: 100%;
  }

 
  h1 {
    font-family: 'Chilanka', cursive;
    color: #1f1835;
    font-size: 95px;
    font-weight: 600;
    float: left;
    margin: 8% 10%;
  }

 
 
  div.container {
    margin: 0 auto;
    padding: 5% 0%;
    text-align: center;
    margin-left: 46%; 
  }


div.container a
{
    color: rgb(58, 58, 88);
    text-decoration: none;
    font: 20px 'Viga', sans-serif;
    margin: 0% 2%;
    padding: 1% 2%;
    position: relative;
    /* z-index: 0; */
    cursor: pointer;
}

img.logo {
    float: left;
    border-radius: 50%;
    height: 15%;
    width: 7%;
    margin: 2% 5%;
}



/* Pull right and left  */
div.pullRightLeft a:before, div.pullRightLeft a:after
{
    position: absolute;
    width: 2px;
    height: 100%;
    top: 0px;
    content: '';
    background: rgb(96, 88, 146);
    opacity: 0.3;
    transition: all 0.3s;
}

div.pullRightLeft a:before
{
    left: 0px;
} 

div.pullRightLeft a:after
{
    right: 0px;
}

div.pullRightLeft a:hover:before, div.pullRightLeft a:hover:after
{
    width: 100%;
}

 
h2 {
    position: relative;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 1em;
    letter-spacing: 4px;
    overflow: hidden;
    background: linear-gradient(90deg, #28223c, #cec2c2, #28223c);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 9s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(185, 28, 28, 0);
    float: left;
    font-weight: 700;
    text-align: center;
    margin: -6% 0% 0% 6%;
}
  @keyframes animate {
    0% {
      background-position: -500%;
    }
    100% {
      background-position: 500%;
    }
  }

.sign-in {
    background-color: #404265;
    height: 100%;
}

p.p1 {
    float: right;
    clear: left;
    color: beige;
    font-size: 40px;
    margin: 2% 42%;
    font-family: 'Chilanka', cursive;
}


.p2 {
    width: 565px;
    float: right;
    margin: 33% 45%;
    padding: -82%;
    margin: 29% 75%;
    padding: 32px;
    border: 5px groove rgb(243, 202, 236);
    margin: -2% 10%;
    font-family: 'Snippet', sans-serif;
    color: beige;
    text-align: left;
    font-size: 25px;
    line-height: 33px;
}

.p2.aos-init.aos-animate {
  margin-right: 345px;
  margin-top: -9px;
}
.companies {
    height: 100%;
    background-color: beige;
}

.p3 {
     float: right;
     clear: left;
     margin: 3% 33%;
     color: rgb(71, 36, 68);
     font-size: 40px;
     text-align:center;
     font-family: 'Chilanka', cursive;
 
}

.column {
    float: left;
    width: 7.33%;
    padding: 34px;
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 500px) {
    .column {
      width: 100%;
    }
  }

  .p4 {
    float: right;
    clear: left;
    margin: 3% 41%;
    color: rgb(71, 36, 68);
    font-size: 40px;
    text-align:center;
    font-family: 'Chilanka', cursive;

}





/* This section for footer */
footer {
    height: 35%;
    background-color: #9fa0a0;
}

.p5 {
    float: left;
    margin-top: 2%;
    font-weight: 700;
    color: rgb(51, 28, 49);
    font-size: 27px;
    text-align: center;
    font-family: 'Chilanka', cursive;

}

.img1{
  margin-top: 52px;
    margin-left: -275px;
  width: 150%;
}

.img2{
  width: 170%;
  height: 70%;
}


.apps {
  display: inline-block;
   width: 100px;
   height: 100px;
    margin-left: 1%;
  }

  .p6 {
    margin-top: 13px;
    font-weight: 700;
    color: rgb(51, 28, 49);
    font-size: 27px;
    font-family: 'Chilanka', cursive;
  }

  .num1{
    margin-top: 3%;
    float: left;
  }

  
  i.fa.fa-envelope {
    float: left;
    font-size: 20px;
  }

  .num4{
    margin-top: 45px;
    margin-left: 8%;
    float: left;
  }

  i.fa.fa-map-o {
    padding-top: 0px;
    margin-left: 5px;
    float: left;
    font-size: 19px;
  }

 
  i.fa.fa-mobile-phone {
    padding-top: 0px;
    margin-left: 11px;
    float: left;
    font-size: 25px;
  
  }
  
  .contact {
    
    margin-left: -17px;
}
  .fa-envelope:before {
    
    margin-left: 6px;
  }

  .p7 {
    margin-right: 107px;
    padding-left: 60;
    margin-top: 3%;
    font-weight: 700;
    color: rgb(51, 28, 49);
    font-size: 27px;
    text-align: center;
    font-family: 'Chilanka', cursive;
  }

  .fa {
     
    padding: 15px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%; 
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  
  .fa-facebook {
    float: left;
    margin-right: 16px;
    margin-top: 6%;
    padding-left: 18px;
    padding-right: 18px;
    padding-bottom: 14px;
    background: rgb(18, 71, 185);
    color: white;
  }
  
  .fa-twitter {
    float: left;
    margin-top: 6%;
    margin-right: 5%;
    background: #55ACEE;
    color: white;
  }

  .fa-instagram {
    float: left;
    margin-top: 6%;
    margin-right: 5%;
    background: #ff1f8f;
    color: white;
  }

  p.p8 {
    font-family: 'Barlow Condensed', sans-serif;
    margin-top: 35%;
    font-size: 17px;
}
  

/* this section for the form */
.open-button {
  background-color: rgb(126, 43, 119);
  color: white;
  font-size: 25px;
  padding: 10px 10px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  left: 28px;
  width: 280px;
}


.form-popup {
  display: none;
  position: fixed;
  bottom: 23px;
  left: 28px;
 
}


.form-container {
  max-width: 300px;
  padding: 53px;
  background-color: rgb(168, 168, 168);
  
}


.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;

}


.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}


.form-container .btn {
  background-color: rgb(155, 4, 185);
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  margin-bottom:10px;
  opacity: 0.8;
  font-family: 'Barlow Condensed', sans-serif;
}

.form-container .cancel {
  background-color: rgb(255, 241, 118);
  color:black;
}

.form-container .btn:hover, .open-button:hover {
  opacity: 1.1;
}

.log{
text-align: center;
padding-bottom: 11px;
font-weight: 600;
font: 30px 'Viga', sans-serif;
}