body{
    background-image: url(../img/ltp.png);
}
/* header css */
.home-intro {
    /* background-image: url('https://download.hipwallpaper.com/desktop/1536/864/25/82/ltP7UD.jpg'); */
    /* background-size: cover; */
    background-color: ;
    height: 150px;
    color: white;
    text-align: center;
  }
  div.container {
    margin: 0 auto;
    padding: 5% 0%;
    text-align: center;
    margin-left: 51%;
    width: 50%;
    /* right: 0; */
}


div.container a 
{
    color:rgb(73, 61, 99);
    text-decoration: none;
    font: 20px 'Viga', sans-serif;
    margin: 0% 0.5%;
    padding: 1% 2%;
    position: relative;
    /* z-index: 0; */
    cursor: pointer;
}
div.container div
{
    color: rgb(73, 61, 99);
    text-decoration: none;
    font: 20px 'Viga', sans-serif;
    margin: 0% 0.5%;
    padding: 1% 2%;
    position: relative;
    /* z-index: 0; */
    cursor: pointer;
    display: inline-block;
}

img.logo {
    float: left;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    margin: 5px 5%;
}



/* Pull right and left  */
div.pullRightLeft a:before, div.pullRightLeft a:after ,.addBottom:before ,.addBottom:after

{
    position: absolute;
    width: 2px;
    height: 100%;
    top: 0px;
    content: '';
    background: rgb(73, 61, 99);
    opacity: 0.5;
    transition: all 0.3s;
}

div.pullRightLeft a:before,.addBottom:before
{
    left: 0px;
} 

div.pullRightLeft a:after,.addBottom:after
{
    right: 0px;
}

div.pullRightLeft a:hover:before, div.pullRightLeft a:hover:after,.addBottom:hover:before
{
    width: 100%;
}

p.p1.wow.fadeInRight {
  border-bottom: solid;
}
/* logo css */
#resturant-logos {
    display: inline-block;
    
}
.divForLogo img{
    height: 150px;
    width: 150px;
}
main {
    display: block;
    position: relative;
    

}
.logos {
    height: 200px;
    width: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    border: solid 5px rgba(73, 61, 99, 0.47);
    border-radius: 5px;
}
.logos h5, .logos p{
    
    position: absolute;
    bottom: 0px;
    margin: 0px 0px 0px 0px;
    color: #ffffff;
    padding: 15px 0px 15px 10px;
    text-align: left;
}
.logos h5{
    background-color: rgba(73, 61, 99, 0.47);
    width: 190px;
    
}
.logos p {
    position: absolute;
    right: 25px;
    
}

.wrapper {
    height: 200px;
    width: 632px;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    left: 0;
    
  }
  
  .button-wrapper {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    z-index: 0;
    left: 0;
    top: 208px;
    padding: 40px 0px;
    /* border-top: dashed 2px #4b4a4a;
    border-bottom: dashed 2px #4d4d4d; */
  }
  
  .carousel {
    /* margin: 0px 10px 0px 22px; */
    margin: 12px 0px;
    padding: 0;
    list-style: none;
    width: 85%;
    display: flex;
    position: absolute;
    left: 58px;
    transition: all 1s ease;
    overflow: hidden;
    z-index: 8;
    top: 232px;
  }
  
  .card {
    margin: 0px 10px 0px 70px; 
    /* background: black; */
    min-width: 200px;
    height: 200px;
    margin-right: 1rem;
    display: inline-block;
  }
  .bb1,.bb2{
      height: 100px;
      width: 50px;
      padding: 50px 0px;
      background-color: rgb(197, 197, 197,0.5);
      
  }
  main{
      width: 100%;
      margin: auto;
      top: 331px;
  }
  .menuDev {
    height: 217px;
    width: 39%;
    display: inline-block;
    background-size: cover;
    background-repeat: round;
    margin: 44px 5%;
    position: relative;
    border-radius: 25px 25px 0px 0px;
    animation: op 2s ease forwards;
    box-shadow: #493d63bf -9px -9px 11px;
}
  .menuP{
      position: absolute;
      bottom: 0px;
      padding: 20px 20px;
      background-color:rgba(73, 61, 99, 0.47);
      width: 92.5%;
      color: beige;
      
  }
  #leftDiv, #rightDiv {
    background-image: url(../img/ltp.png);
    height: 205px;
    z-index: 50;
    
    /* padding: 25px 0px; */
}
#rightDiv{
    padding: 0px 0px 0px 40px;
}
#leftDiv{
    padding: 0px 40px 0px 0px;
}
#infoDiv {
   visibility: hidden;
   position: absolute;
   height: 291px;
   width: 266px;
   right: 0;
   top: -80px;
   background: rgba(73, 61, 99, 0.856);;
   z-index: 1;
   border-radius: 5px 0px 20px 20px;
   opacity: 0;
   
}
#infoDiv img{
    height: 100px;
    width: 100px;
    margin: 30px 20px 20px 20px;
    border: solid gray 3px;
    background-color: beige;
    border-radius: 5px;
}
#infoDiv #userName{
    color: beige;
    font-size: 40px;
}
p#yourOrder {
    position: absolute;
    bottom: 0;
    margin: 13px 15px 13px 20px;
    background: lightgray;
    padding: 6px 10px;
    color: black;
    border: gray 2px solid;
    border-radius: 16px;
}
#infoDiv #logOut{
    text-decoration: none;
    position: absolute;
    bottom: 0;
    margin: 13px 0px 14px 145px;
    background: lightgray;
    padding: 6px 10px;
    color: black;
    border: gray 2px solid;
    border-radius: 16px;
}
.border{
    width: 100%;
    border-top: solid 3px rgba(73, 61, 99, 0.34);
    margin: 20px 0px 40px 0px;
}
/* This section for footer */
footer {
    height: 35%;
    background-color: #9fa0a0;
    /* position: absolute; */
    width: 100%;
    bottom: -439px;
    /* clear: both; */
    position: relative;
    top: -35%;
    z-index: 10;
    /* background: aliceblue; */
}

.p5 {
    float: left;
    margin-top: 2%;
    font-weight: 700;
    color: rgb(51, 28, 49);
    font-size: 27px;
    text-align: center;
    font-family: 'Chilanka', cursive;

}

.img1{
  margin-top: 52px;
    margin-left: -275px;
  width: 150%;
}

.img2{
  width: 170%;
  height: 70%;
}


.apps {
  display: inline-block;
   width: 100px;
   height: 100px;
    margin-left: 1%;
  }

  .p6 {
    margin-top: 13px;
    font-weight: 700;
    color: rgb(51, 28, 49);
    font-size: 27px;
    font-family: 'Chilanka', cursive;
  }

  .num1{
    margin-top: 3%;
    float: left;
  }

  
  i.fa.fa-envelope {
    float: left;
    font-size: 20px;
  }

  .num4{
    margin-top: 45px;
    margin-left: 8%;
    float: left;
  }

  i.fa.fa-map-o {
    padding-top: 0px;
    margin-left: 5px;
    float: left;
    font-size: 19px;
  }

 
  i.fa.fa-mobile-phone {
    padding-top: 0px;
    margin-left: 11px;
    float: left;
    font-size: 25px;
  
  }
  
  .contact {
    
    margin-left: -17px;
}
  .fa-envelope:before {
    
    margin-left: 6px;
  }

  .p7 {
    margin-right: 107px;
    padding-left: 60;
    margin-top: 3%;
    font-weight: 700;
    color: rgb(51, 28, 49);
    font-size: 27px;
    text-align: center;
    font-family: 'Chilanka', cursive;
  }

  .fa {
     
    padding: 15px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%; 
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  
  .fa-facebook {
    float: left;
    margin-right: 16px;
    margin-top: 6%;
    padding-left: 18px;
    padding-right: 18px;
    padding-bottom: 14px;
    background: rgb(18, 71, 185);
    color: white;
  }
  
  .fa-twitter {
    float: left;
    margin-top: 6%;
    margin-right: 5%;
    background: #55ACEE;
    color: white;
  }

  .fa-instagram {
    float: left;
    margin-top: 6%;
    margin-right: 5%;
    background: #ff1f8f;
    color: white;
  }

  p.p8 {
    font-family: 'Barlow Condensed', sans-serif;
    margin-top: 35%;
    font-size: 17px;
}
.yourInfo:hover #infoDiv {
  animation-name: yourInfo ;
  animation-duration: 0.5s ;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  visibility: visible;
  animation-direction: alternate;
 
  

}
/* .yourInfo:hover{
  background-color: honeydew;
} */
@keyframes yourInfo {
  0% {opacity: 0;
    
  }
  50% {opacity: 0.05;}
  100% {
    opacity: 1;
    position: absolute;
    height: 291px;
  width: 266px;
  right: 0px;
  top: 32px;
  background: rgba(73, 61, 99, 0.815);
  z-index: 20;
  border-radius: 5px 0px 20px 20px;
  z-index: 100;

  }
}
@keyframes op {
  0% {opacity: 0;
    display: block;
    margin: 200px 20%;
  }
  80%{margin: 44px 5%;
    display: inline-block;
  opacity: 0.5;}
  100% {
    opacity: 1;
    
  }
}
#border1 p{
  position: absolute;
  top: 50%;  /* position the top  edge of the element at the middle of the parent */
  left: 50%; /* position the left edge of the element at the middle of the parent */

  transform: translate(-50%, -50%); 
  color: black;
  background-image: url(../img/ltp.png);
}
#border0 p {
  position: relative;
  /* top: 50%; */
  /* left: 50%; */
  transform: translate(0%, -50%);
  color: black;
  top: 0px;
  margin: auto;
  background-image: url(../img/ltp.png);
  width: 10%;
}
#border1{
  position: relative;
  margin: 20px 0px 80px 0px;
}
img#dish {
  /* right: 0px; */
  position: sticky;
  /* transform: translate(1209%); */
  right: 13px;
  bottom: 0;
  height: 100px;
}
#main{
  margin: 120px 0px 20px 0px;
}
div#footerlofo {
  width: 20px;
  margin: 43px;
  float: left;
}
.num2 {
  margin-left: 242px;
}
footer div{
  display: flow-root;
}
#yourInfo:hover {
  transition: all ease 1s ;
  background-color: rgba(73, 61, 99, 0.2);
}
.menuDev:active{
  filter: drop-shadow(0 0 0 steelblue);
  transition: filter 0s;
  /* animation: menu ease 1s 2s ;
  animation-fill-mode: both; */
}
@keyframes menu {
  0% {opacity: 1;
  }
  50% { opacity: 0;}
  
  100% {
    opacity: 1;
    
  }
}
.logos:hover{
  animation: biger 0.5s ease forwards;

}
.logos:active{
  box-shadow: rgba(73, 61, 99, 0.8) 2px 2px 40px;
}
@keyframes biger {
  0% {height: 200px;
    width: 200px;
  }
  
  
  100% {
    
    height: 210px;
    width: 210px;
  }
}
.logos:hover  h5{
  animation: bigerp 0.5s ease forwards;

}
@keyframes bigerp {
  0% {
  }
  
  
  100% {
    
    width: 200px;
  }
}
.addBottom {
  position: absolute;
  bottom: 0px;
  padding: 10px 20px;
  margin: 10px;
  color: white;
  right: 0px;
  z-index: 2;
}
.addBottom:hover{
  cursor: pointer;
}