body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #F2F2F2 ;
    /* background-image: url(../img/platter-2009590_960_720.jpg);
    background-repeat: no-repeat;
    background-size: cover;*/
  } 
header{
  border: solid #F28A2E ;
  width: 100%;
  position: relative;
  border-top-right-radius:50px ;
  border-bottom-left-radius:50px ;
  height: 200px;
  background-color: #a5a6ae

}
nav{
  width: 52%;
  height: 200px;
  right: 0px;
  position: absolute;
  background-color: #F2F2F2;
  border-top-right-radius: 50px;
}

.borderBox{
  background-image: linear-gradient(180deg, rgba(242,242,242,1) 0%, rgba(242,242,242,1) 10%, rgba(165,166,174,1) 20%, rgba(165,166,174,1) 30%, rgba(242,242,242,1) 40%, rgba(242,242,242,1) 50%, rgba(165,166,174,1) 60%, rgba(165,166,174,1) 70%, rgba(242,242,242,1) 80%, rgba(242,242,242,1) 90%, rgba(165,166,174,1) 100%);
  height: 200px;
  width: 20px;
  position: absolute;
  left: 47.2%;
  z-index: 99999;
}

#ourCompanyName{
  font-size: 60px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  position: absolute;
  top: 25%;
  right: 65%;
  background-color: #a5a6ae;
  color: #F2F2F2 ;
  padding: 20px;
}
main{
  position: relative;
}
header a{
  text-decoration: none;

}
.outerCircle{
  display: inline-block;
  width: 100px;
  padding: 12px 12px;
  margin:20px 50px 20px 20px;
  background-color: #a5a6ae;
  border-radius: 50px;
  line-height: 0;
  cursor: pointer;
  transition: 1s;
  text-align: center;
  position: relative;
  left: 30%;
  box-shadow: rgb(242, 219, 242) 19px 20px 20px 0px ;
}

.innerCircle{
    display: inline-block;
    width: 100px;
    padding: 50px 0;
    background-color: #F2F2F2;
    border-radius: 50px;
    line-height: 0;
    cursor: pointer;
    transition: 1s;
    text-align: center; 
    /* color: #F20519; */
    color: #95969c;
  }

.innerCircle:hover{
  animation: example 3s ease forwards;
}
  

  @keyframes example {
    0% { background-image: linear-gradient(0deg, rgba(2,20,76,1) 0%, rgba(243,249,243,1) 12%, rgba(243,249,243,1) 100%);}
    10% {background: linear-gradient(0deg, rgba(2,20,76,1) 0%, rgba(243,249,243,1) 23%, rgba(243,249,243,1) 100%);}
    20%{background: linear-gradient(0deg, rgba(2,20,76,1) 12%, rgba(243,249,243,1) 29%, rgba(243,249,243,1) 100%);}
    40% {background: linear-gradient(0deg, rgba(2,20,76,1) 32%, rgba(243,249,243,1) 55%, rgba(243,249,243,1) 100%);}
    50%{background: linear-gradient(45deg, rgba(2,20,76,1) 49%, rgba(243,249,243,1) 80%, rgba(243,249,243,1) 100%);}
    60%{background: linear-gradient(0deg, rgba(2,20,76,1) 49%, rgba(243,249,243,1) 80%, rgba(243,249,243,1) 100%);}
    70%{background: linear-gradient(0deg, rgba(2,20,76,1) 68%, rgba(243,249,243,1) 93%, rgba(243,249,243,1) 100%);}
    90%{background: linear-gradient(0deg, rgba(2,20,76,1) 90%, rgba(243,249,243,1) 100%, rgba(243,249,243,1) 100%);}
    100% {color: #E0BE96;
      background: linear-gradient(0deg, rgba(2,20,76,1) 98%, rgba(243,249,243,1) 100%, rgba(243,249,243,1) 100%);}
  }


.outerCircle:hover{
  background-color: #A5A6AE;
  /* transform: rotate(360deg); */
  box-shadow: #A8AFB0 0px 0px ;
} 

.container {
    margin: 20px;
    width: 300px;
    height: 300px;
    position: relative;
    left: 200px;
  }
.inlineDiv{
   /* background-color: #A5A6AE; */
  /*border: solid tomato; */
  display: inline-block;
  text-align: center;
  margin: 90px;
}  

.boxContainer{
    width: 100%;
    height: 100%;
  }
.box {
    width: 100%;
    height: 100%;
    transition: 1.5s ease-in-out;
    cursor: pointer;
    transform-style: preserve-3d;
  }

/* @keyframes flipp{
  0% {transform: rotateY(0deg);}
  20% {transform: rotateY(50deg);}
  80% {transform: rotateY(0deg);}
  100% {transform: rotateY(00deg);}
} */
.boxContainer:hover  .box{
    transform: rotateY(180deg);
}

.front {
    border: 2px solid #7F5D3F;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    background-color: #E0BE96;
}
.front h2,p{
    padding: 1em;
    font-size: large;
    transform: translateZ(10px);
}

.back {
   border: 2px solid #A5A6AE;
   transform: rotateY(180deg);
   background-color: #2DA5DC;
   backface-visibility: hidden;
   transform-style: preserve-3d;
}

.back h2{
    padding: 1em;
    font-size: large;
    transform: translateZ(10px);
}

.front, .back {
    width: 100%;
    height: 100%;
    position: absolute;
}
#imgDesc{
    position: absolute;
    top: 170px;
    right:550px;
    width: 200px;
    height: 200px; 
    opacity: 0;
    transition: 1s ease-in-out;
    z-index: 9;
}

img{
  height: 100%;
  width: 100%;
  border: solid 2px black;
  background-color: #a5a6ae;
}
.button {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #1C1009;
  background-color: #A5A6AE;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #A8AFB0;
  position: absolute;
  right:5px;
  top:10px;
}

.button:hover {
  background-color: #A8AFB0;
}

.button:active {
  background-color: #A8AFB0;
  box-shadow: 0 5px #A5A6AE;
  transform: translateY(4px);
}

#companyData{
  width: 150px;
  height: 150px;
  margin: 10px 20px;
}
#companyName{
  font-size: XX-large;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #f20519;
}

#companyLogo{
  transition: 2s ease-in-out;
  margin: 7px 0;
}

#companyLogo:hover{
transform: rotate(-10deg);
}

#userName{
  position: absolute;
    top: 31px;
    left: 209px;
    font-size: large;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: #f2eef2 dotted;
    border-radius: 20px;
    padding: 10px;
    color: #FAF9F9;
    background-color: #f20519;
}
#userName:hover{
  background-color: #FAF9F9;
  color: #f20519;
  border-color: #f20519;
}

 #msg{
  z-index: -99999;
  width: 300px;
  height: 200px;
  position: absolute;
  text-align: center;
  background-color: #2DA5DC;
  opacity: 0; 
  left: 490px;
  padding: 50px;
  text-align: center;
  border-top-right-radius: 50px;
  border-bottom-left-radius:50px ;
  transition: 1s ease-in-out;
  top:0;
}

#userInfo{
  /* border: darkblue solid; */
  position: relative;
  width: 100%;
}
#orderButton{
  color: #1C1009;
  font-size: x-large;
  font-family: fantasy;
   border:solid #A5A6AE;
  position: absolute;
  left:5%;
  padding: 1%; 
  background-color: #FAF9F9 ;
  cursor: pointer;
  top: 300px;
}

.imgLogo{
  width: 100px;
  height: 100px;
  align-content: center;
  transform: translateZ(15px);
  /* transform: ; */
}

#slideShow{
  width:  300px;
  height: 300px;
  /* background-color: red; */
  right: 100px;
  top: 150px;
  position: absolute;
}

