@import 'https://fonts.googleapis.com/css?family=Viga&display=swap';
@import 'https://fonts.googleapis.com/css?family=Chilanka&display=swap';
@import 'https://fonts.googleapis.com/css?family=Dancing+Script&display=swap';



body, html{
  height: 100%;
}

body{
  background-color: rgb(221, 214, 255);
}

/* This section for header */
div.myContainer {
  margin: 0 auto;
  padding: 5% 0%;
  text-align: center;
  margin-left: 46%; 
}


div.myContainer a
{
  color: rgb(58, 58, 88);
  text-decoration: none;
  font: 20px 'Viga', sans-serif;
  margin: 0% 2%;
  padding: 1% 2%;
  position: relative;
  /* z-index: 0; */
  cursor: pointer;
}

img.logo {
  float: left;
  border-radius: 50%;
  height: 15%;
  width: 7%;
  margin: 2% 5%;
}



/* Pull right and left  */
div.pullRightLeft a:before, div.pullRightLeft a:after
{
  position: absolute;
  width: 2px;
  height: 100%;
  top: 0px;
  content: '';
  background: rgb(96, 88, 146);
  opacity: 0.3;
  transition: all 0.3s;
}

div.pullRightLeft a:before
{
  left: 0px;
} 

div.pullRightLeft a:after
{
  right: 0px;
}

div.pullRightLeft a:hover:before, div.pullRightLeft a:hover:after
{
  width: 100%;
}

/* This section for h1 and the next button */

h1 {
  font-family: 'Dancing Script', cursive;
  color: #1f1835;
  font-size: 95px;
  float: left;
  margin: 8% 10%;
  text-align: center;
}

a.next {
  text-decoration: none;
  display: inline-block;
  padding: 12px 18px;
  margin-left: 45%;
  
}

a.next:hover {
  background-color: rgb(182, 150, 250);
  color: black;
}


.next {
  background-color: rgb(125, 65, 255);
  color: white;
}

.round {
  border-radius: 50%;
}

.paragraph {
  margin-left: 10%;
}


section{
  display:flex;
   margin:100px 0; 
   width:1000px}


   .picture{
     width:60%
     
    }

   .picture img{
	 opacity:.7; margin:15px; border-radius:1%; width:100%
}


    section{
      margin:75px 5px 5px -40px;
      width: 1321px;
    }
    .picture{
      width:50%;
      margin-left: 10%;
      margin-top: -6%;
    }
    .picture img{height:600px; width:500px; margin:2px}
    
  

  h4 {
    margin-top: 40px;
    font-family: 'Barlow Condensed', sans-serif; 
  }

  p {
    font-family: 'Barlow Condensed', sans-serif; 
  }


.container {
  margin-top: 10%;
  margin-left: 10%;
  text-align: center;
  margin-bottom: 180px;

}

h5{
  color: rgb(8, 8, 141);
  font-family: 'Dancing Script', cursive;
  font-weight: 700;
}


.text-uppercase {
    text-transform: uppercase;
}

.team-member, .team-member .team-img {
    position: relative;
    display: inline-flex;
    /* height: 400px;
    width: 200px; */
}
.team-member {
    overflow: hidden;
}
.team-member, .team-member .team-img {
    position: relative;
}

.team-hover {
    position: absolute;
    top: 0;
    left: -4px;
    width: 143px;
    bottom: 0;
    right: 0;
    margin: 0;
    border: 20px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.90);
    opacity: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border-radius: 15px;
    
}
.team-member:hover .team-hover .desk {
    top: 35%;
}
.team-member:hover .team-hover, .team-member:hover .team-hover .desk, .team-member:hover .team-hover .s-link {
    opacity: 1;
}
.team-hover .desk {
    position: absolute;
    top: 0%;
    width: 100%;
    left: -14px;
    opacity: 0;
    -webkit-transform: translateY(-55%);
    -ms-transform: translateY(-55%);
    transform: translateY(-55%);
    -webkit-transition: all 0.3s 0.2s;
    transition: all 0.3s 0.2s;
    padding:10px;
}
.desk, .desk h4, .team-hover .s-link a {
    text-align: center;
    color: #222;
    margin: 29px 0 0 0;
}
.team-member:hover .team-hover .s-link {
    bottom: 10%;
}
.team-member:hover .team-hover, .team-member:hover .team-hover .desk, .team-member:hover .team-hover .s-link {
    opacity: 1;
}
.team-hover .s-link {
    position: absolute;
    bottom: 0;
    width: 100%;
    opacity: 0;
    text-align: center;
    -webkit-transform: translateY(45%);
    -ms-transform: translateY(45%);
    transform: translateY(50%);
    -webkit-transition: all 0.3s 0.2s;
    transition: all 0.3s 0.2s;
    font-size: 35px;
    
}
.desk, .desk h4, .team-hover .s-link a {
    text-align: center;
    color: #222;
}
.team-member .s-link a {
    margin: 0 10px;
    color: #333;
    font-size: 16px;
}
.team-title {
    position: static;
    padding: 20px 0;
    display: inline-block;
    letter-spacing: 2px;
    width: 100%;
}
.team-title h5 {
    margin-bottom: 0px;
    display: block;
    text-transform: uppercase;
}
.team-title span {
    font-size: 12px;
    text-transform: uppercase;
    color: #a5a5a5;
    letter-spacing: 1px;
}
.theImg{
    height: 315px;
    width: 178px;
    border-radius: 58px;
}
.col-md-4.col-sm-4 {
    display: inline-block;
    width: 226px;
}







/* This section for footer */
footer {
  height: 35%;
  background-color: #9fa0a0;
}

.p5 {
  float: left;
  margin-top: 2%;
  font-weight: 700;
  color: rgb(51, 28, 49);
  font-size: 27px;
  text-align: center;
  font-family: 'Chilanka', cursive;

}

.img1{
margin-top: 52px;
  margin-left: -275px;
width: 150%;
}

.img2{
width: 170%;
height: 70%;
}


.apps {
display: inline-block;
 width: 100px;
 height: 100px;
  margin-left: 1%;
}

.p6 {
  margin-top: 13px;
  font-weight: 700;
  color: rgb(51, 28, 49);
  font-size: 27px;
  font-family: 'Chilanka', cursive;
}

.num1{
  margin-top: 3%;
  float: left;
}


i.fa.fa-envelope {
  float: left;
  font-size: 20px;
}

.num4{
  margin-top: 45px;
  margin-left: 8%;
  float: left;
}

i.fa.fa-map-o {
  padding-top: 0px;
  margin-left: 5px;
  float: left;
  font-size: 19px;
}


i.fa.fa-mobile-phone {
  padding-top: 0px;
  margin-left: 11px;
  float: left;
  font-size: 25px;

}

.contact {
  
  margin-left: -17px;
}
.fa-envelope:before {
  
  margin-left: 6px;
}

.p7 {
  margin-right: 107px;
  padding-left: 60;
  margin-top: 3%;
  font-weight: 700;
  color: rgb(51, 28, 49);
  font-size: 27px;
  text-align: center;
  font-family: 'Chilanka', cursive;
}

.fa {
   
  padding: 15px;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%; 
}

.fa:hover {
    opacity: 0.7;
}


.fa-facebook {
  float: left;
  margin-right: 16px;
  margin-top: 6%;
  padding-left: 18px;
  padding-right: 18px;
  padding-bottom: 14px;
  background: rgb(18, 71, 185);
  color: white;
}

.fa-twitter {
  float: left;
  margin-top: 6%;
  margin-right: 5%;
  background: #55ACEE;
  color: white;
}

.fa-instagram {
  float: left;
  margin-top: 6%;
  margin-right: 5%;
  background: #ff1f8f;
  color: white;
}

p.p8 {
  font-family: 'Barlow Condensed', sans-serif;
  margin-top: 35%;
  font-size: 17px;
}
